@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*width 包含border padding*/
}
section {
  /* min-height: 100vh;
  width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content{
  border-radius: 20px;
}
.container {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.19);
  padding: 50px 30px;
  border-radius: 20px;
  min-width: 800px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
  /* position: relative; */
  overflow: hidden;
}
.container .form {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 20px;
  width: 50%; /*設定這個才會不會讓block是整行*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7; /*這個會把下一層遮起來*/
}
.container .sign-in-form {
  left: 0;
}
.container .sign-up-form {
  right: 0;
}
.container .form h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.container .form p {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  margin-bottom: 30px;
}
.container .form input {
  display: block;
  width: 300px;
  margin: 0 auto; /*置中*/
  margin-bottom: 30px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(137, 209, 238, 0.473);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* outline: none; */
  border: none;
}
.container .overlay button,
.container .form button {
  padding: 10px 50px;
  border: none;
  font-family: Oswald;
  font-weight: 100;
  font-size: 18px;
  background-color: rgba(220, 20, 60, 0.568);
  color: #f6f5f7;
  cursor: pointer;
}
.overlay-container {
  position: absolute;
  background-color: crimson;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s ease-in-out transform;
}
.container .overlay-container .overlay {
  background-image: url(https://images.unsplash.com/photo-1565870100382-f0a510db3cd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
  transition: 0.3s ease-in-out transform;
}
.container .overlay-container .overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  opacity: 0.5;
  z-index: -1; /*只會作用在有positoin的元素上*/
}
.container .overlay .overlay-left,
.container .overlay .overlay-right {
  flex-basis: 50%;
  text-align: center;
}
.container .overlay h1 {
  font-family: cursive;
  font-size: 40px;
  font-weight: 300;
  color: white;
}
.container .overlay p {
  /* -webkit-text-stroke: 1px black; */
  font-family: cursive;
  font-size: 25px;
  font-weight: 300;
  color: white;
}
.container .overlay button {
  position: relative;
  top: 56px;
  background-color: rgba(255, 255, 255, 0.849);
  color: crimson;
  margin-top: 100px;
  /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.56); */
  width: fit-content;
}

.container .overlay button:hover {
  width: fit-content;
  box-shadow: 0 -5px #e709b0 inset;
  background-color: rgb(255, 255, 255);
  /* opacity: 0.5; */
  transition: 0.5s;
}