.container {
  display: flex;
  flex-direction: column;
}
.input-group-prepend {
  margin-bottom: 20px;
}
ul+ul{
    margin-top: 3rem;
}
.order_box {
  background: #ecfdff;
  padding: 30px;
}
.order_box {
  background: #ecfdff;
  padding: 30px;
}
.order_box ul {
  list-style-type: none;
  padding: 0;
}
.order_box li {

  text-decoration: none;
}
.order_box h2 {
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  font-weight: 500;
  color: #2a2a2a;
  padding-bottom: 15px;
}
.order_box .list li,
.order_box .list li a {
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
  border-bottom: 1px solid #eeeeee;
  display: block;
  line-height: 42px;
}
.order_box span {
  float: right;
}
