.content {
  /* background: url(https://medtiling.com/wp-content/uploads/2020/02/website-background-tile-lovely-subtle-light-tile-pattern-vol5-graphic-web-backgrounds-fbv-spm.jpg)
     white 
     center 
     fixed ; */
  width: 100vw;
  height: 100vh;
}

.nav-link {
  font-size: 24px;
}

h1 a:hover {
  text-decoration: none;
  filter: brightness(190%);
  /* opacity: 0.7; */
  /* font-weight: bold; */
}

body {
  padding: 0 10%;
}

.image {
  width: 100%;
}

.navimage {
  font-size: 0;
}

.navimage img {
  padding: 0 2px;
  width: 20%;
}
.carousel-img {
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50%;
}
.carousel-img::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.select {
  width: 100%;
  text-align: center;
}
.select option {
  text-align: center;
}
.product-series-list li {
  padding-bottom: 20px;
}
.list-group {
  position: sticky;
  top: 20px;
  overflow: visible;
}
.modal-content {
  /* width: 200vw; */
  /* height: 80vh; */
}
.modal h5{
    display: block;
    text-align: center;
}
