<div class="card">
  <a href="/product-detail.html?id=YPY56UTrFumuUMRxtdf8"
    ><img class="card-img-top" src="./img/fakeimg.png" alt="Card image cap"
  /></a>
  <div class="card-body">
    <h3 class="card-title">鉛筆盒</h3>
    <h4 class="card-text text-right">
      NT. <span class="product-card-price">29</span>
    </h4>
    <h5 class="card-text text-right">
      商品庫存量:<span class="product-card-inventory">42</span>
    </h5>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01"
          >包裝大小</label
        >
      </div>
      <select class="custom-select" id="inputGroupSelect01"
        ><option selected="" value="1">小</option
        ><option value="2">中</option
        ><option value="3">大</option></select
      >
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="order-quantity input-group-text" for="inputGroupSelect02"
          >商品數量</label
        >
      </div>
      <select class="custom-select" id="inputGroupSelect02"
        ><option selected="" value="1">1</option
        ><option value="2">2</option
        ><option value="3">3</option
        ><option value="4">4</option
        ><option value="5">5</option
        ><option value="6">6</option
        ><option value="7">7</option
        ><option value="8">8</option
        ><option value="9">9</option
        ><option value="10">10</option></select
      >
    </div>
    <button
      id="YPY56UTrFumuUMRxtdf8"
      class="add-to-cart -link btn btn-outline-primary btn-block"
    >
      加入購物車
    </button>
  </div>
  <div class="card-footer">
    <small class="text-muted text-right d-block">no record</small>
  </div>
</div>
